
<div class="twoGrid">
<p-card>
    Karticki so recepti i kopce so koe ke se dodava nova kartica
    <ng-template pTemplate="footer">
        <button pButton pRipple routerLink ="/home" type="button" label="Zadaca 1" class="p-button-rounded p-button-secondary"></button>
    </ng-template>
</p-card>

<p-card>
    Product detail page
    <ng-template pTemplate="footer">
        <button pButton routerLink ="/product" pRipple type="button" label="Zadaca 2" class="p-button-rounded p-button-secondary"></button>
    </ng-template>
</p-card>
</div>