.twoGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    margin-bottom: 10px;
}
.secondGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-gap: 15px;
    margin-bottom: 10px;
}